{% if config.kubernetes.enable_service_monitor -%}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ service_name }}
  namespace: default
  labels:
    app: {{ service_name }}
    release: prometheus
spec:
  selector:
    matchLabels:
      app: {{ service_name }}
  endpoints:
  - port: http
    path: /metrics
    interval: 30s
    scrapeTimeout: 10s
{% endif -%}
